*{
    background-color: #999999;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 500px;
}
p
{
    text-align: center;
    font-size: 24px;
}
button{
    background-color: black;
    color: #e6e6e6e6;
    font-size: 20px;
    
}
.small{
    height: auto;
    width: 300px;
}
ul.ol{
    font-size: 18px;
}